html {
  background: url(https://c1.staticflickr.com/4/3868/15020029145_549874ace8_b.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Josefin Slab', serif;
}

a {
	color: blue;
}

body {
	margin: 0;
}

button {
	margin: 3px;
}

h1 {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 300%;
}

h2,h3 {
	text-align: left;
}

.buttons {
	height: 200px;
	padding-top: 30%;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.middle{
	height: 40%;
	margin: 10% 18%;
	max-width: 80%;
	position: absolute;
}

#makequote {
	margin-bottom: 2%;
}

#quoteScreen {
	
	height: 40%;
	margin-bottom: 50px;
	text-align: center;
}

