html {
  background: url(https://c1.staticflickr.com/4/3868/15020029145_549874ace8_b.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Josefin Slab', serif;
}

a {
	color: blue;
}

button {
	margin: 3px;
}

h1 {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 300%;
}

.buttons {
	text-align: center;
}

.middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20% auto 10% auto;
	max-width: 80%;
}

#makequote {
	margin-bottom: 2%;
}

#quoteScreen {
	margin-bottom: 10%;
	text-align: center;
}

